<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>nodeDBAdmin</title>
    <!--link rel="stylesheet" href="css/normalize.css"-->
</head>
<body>

{{#each scripts}}<script src="{{this}}" type="text/javascript"></script>{{/each}}
</body>
</html>